@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap');

#container{
  height: 100%;
  flex-direction: column;
  padding: 10%;
  text-align: center;
}

.userPrompt{
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}


.inputBox{
  color: black;
  height: 40%;
  font-family: "Ubuntu", sans-serif;
}