@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap');

#footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

.pageFooter{
    background-color: #97DBAE;
    background-image: linear-gradient(#97DBAE, #C3E5AE);
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}