@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@700&family=Ubuntu:wght@400;700&display=swap');
.pageHeader{
    background-color: #97DBAE;
    background-image: linear-gradient(#97DBAE, #C3E5AE);
    padding: 1.75%;
    text-align: center;
}

.titleImage{
    height: 3%;
    width: 3%;
    position: relative;
    bottom: 0;
}

#header{
    width: 100%;
    height: 7%;
}

.pageTitle{
    padding: 0;
    margin: 0;
    font-size: 3vw;
    font-family: "Open Sans", "Ubuntu", sans-serif;
}

