#container{
  height: 100%;
  flex-direction: column;
  padding: 2%;
  text-align: center;
}

.userPrompt{
  font-size: 1rem;
}


.inputBox{
  color: black;
  font-family: 'Courier New', Courier, monospace;
}